.container_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.625rem;
    background-color:#e4e4e4 ;
    padding: 5px;
    text-align: center;
}
.rodape_logo img{
    max-width: 100px;
    margin: 0px;
    padding: 5px;
}

.footer_text p{
    color: #171717;
    font-size: 11.8px;
    padding: 10px;
}
